<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.keepintouch.Keep-in-Touch</string>
	<key>CFBundleName</key>
	<string>Keep In Touch</string>
	<key>CFBundleDisplayName</key>
	<string>Keep In Touch</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSContactsUsageDescription</key>
	<string>Keep In Touch needs access to your contacts to help you stay in touch with your friends.</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>NSPrincipalClass</key>
	<string>UIApplication</string>
</dict>
</plist>
